.catalog
    margin-bottom: 103px
    &__header
        color: rgb(13, 13, 13)
        font-family: 'MuseoSansCyrl-700'
        font-size: 30px
        line-height: 30px
        text-align: center
        text-transform: uppercase
    &__tabs
        margin-top: 70px
        list-style-type: none
        display: flex
        justify-content: center
        align-items: center
        margin-bottom: 0
        padding-left: 0
    &__tab
        width: 222px
        height: 52px
        border: 2px solid rgb(208, 208, 208)
        color: rgb(107, 107, 107)
        font-family: 'MuseoSansCyrl-500'
        font-size: 18px
        text-align: center
        text-transform: uppercase
        line-height: 48px
        transform: skewX(-25deg)
        margin: 0 5px
        cursor: pointer
        transition: 0.5s all
        &:hover
            box-shadow: 2px 2px 20px rgb(199, 1, 1)
            border: none
        div
            transform: skewX(25deg)
        &_active
            background: rgb(199, 1, 1)
            color: rgb(255, 255, 255)
            border: none
    &__content
        margin-top: 60px
        display: none
        justify-content: space-between
        flex-wrap: wrap 
        &_active
            display: flex 
    &-item 
        width: 303px
        min-height: 442px
        border: 2px solid rgb(232, 232, 232)
        padding: 20px 20px 20px 20px 
        overflow: hidden
        margin-bottom: 20px
        &__img
            display: block
            margin: 0 auto
            max-width: 100%
            height: 200px
        &__subtitle
            margin-top: 15px
            color: rgb(13, 13, 13)
            font-family: 'MuseoSansCyrl-700'
            font-size: 16px
            text-align: center
        &__descr
            margin-top: 15px
            color: rgb(13, 13, 13)
            font-family: 'MuseoSansCyrl-300'
            font-size: 14px
            line-height: 22px
            text-align: center
        &__link
            display: block
            margin-top: 10px
            color: rgb(199, 1, 1)
            font-family: 'MuseoSansCyrl-500'
            font-size: 14px
            text-align: center
            &:hover
                color: #8B0000
        hr
            background: rgb(232, 232, 232)
            margin-top: 17px
            margin-bottom: 17px
            border-bottom: none 
        &__footer
            display: flex
            justify-content: space-between
        &__old-price
            color: rgb(85, 85, 85)
            font-family: 'MuseoSansCyrl-300'
            font-size: 14px
            text-align: left
            text-decoration-line: line-through
        &__price
            color: rgb(5, 5, 5)
            font-family: 'MuseoSansCyrl-700'
            font-size: 20px
            text-align: left
        &__wrapper
            display: flex
            width: calc(200% +  60px)
        &__content
           width: 50% 
           margin-right: 0px
           transform: translateX(-100%)
           transition: 0.5s all
           &_active
            transform: translateX(0%)
            margin-right: 20px
        &__list
            position: relative
            width: 50%
            margin-left: 20px
            transform: translateX(0%)
            transition: 0.5s all
            padding-left: 35px
            margin-bottom: 0
            list-style-type: none
            &_active
                transform: translateX(-100%)
                margin-left: 0
                margin-right: 20px
                ul
                    padding: 0
            li
                position: relative
                color: rgb(85, 85, 85)
                font-family: 'MuseoSansCyrl-300'
                font-size: 14px
                line-height: 21px
                margin-bottom: 20px
                list-style: none
                &:before
                    content: ""
                    position: absolute
                    width: 5px
                    height: 5px 
                    background-color: rgb(199, 1, 1)
                    left: -14px
                    top: 7px
        &__back
            position: absolute
            bottom: 0
            left: 50%
            transform: translateX(calc(-32% - 19px))
            display: block
            color: #c70101
            font-family: 'MuseoSansCyrl-500'
            font-size: 14px
            text-decoration: underline
            text-transform: uppercase
            &:hover
                color: #8B0000
                    

