/* line 1, ../../../../../../../../../../../../../Users/nursultannurulla/Desktop/Pulsproject/src/sass/block/_promo.sass */
.promo {
  min-height: 650px;
  padding: 21px 0 93px 0;
  background: url(../img/bg/first_bg.png) center center/cover no-repeat;
}

/* line 5, ../../../../../../../../../../../../../Users/nursultannurulla/Desktop/Pulsproject/src/sass/block/_promo.sass */
.promo__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 90px;
}

/* line 10, ../../../../../../../../../../../../../Users/nursultannurulla/Desktop/Pulsproject/src/sass/block/_promo.sass */
.promo__header {
  color: white;
  font-family: 'MuseoSansCyrl-700';
  font-size: 42px;
  font-weight: 700;
  line-height: 50px;
  text-transform: uppercase;
}

/* line 17, ../../../../../../../../../../../../../Users/nursultannurulla/Desktop/Pulsproject/src/sass/block/_promo.sass */
.promo__subheader {
  color: white;
  font-family: 'MuseoSansCyrl-500';
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
}

/* line 24, ../../../../../../../../../../../../../Users/nursultannurulla/Desktop/Pulsproject/src/sass/block/_promo.sass */
.promo__icons {
  margin-top: 60px;
  width: 425px;
  display: flex;
  justify-content: space-between;
}

/* line 29, ../../../../../../../../../../../../../Users/nursultannurulla/Desktop/Pulsproject/src/sass/block/_promo.sass */
.promo__icon {
  width: 108px;
  text-align: center;
  color: white;
  font-family: 'MuseoSansCyrl-500';
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
}

/* line 37, ../../../../../../../../../../../../../Users/nursultannurulla/Desktop/Pulsproject/src/sass/block/_promo.sass */
.promo__icon img {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

/* line 41, ../../../../../../../../../../../../../Users/nursultannurulla/Desktop/Pulsproject/src/sass/block/_promo.sass */
.promo__link {
  color: white;
  font-family: 'MuseoSansCyrl-500';
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  margin-top: 10px;
}

/* line 48, ../../../../../../../../../../../../../Users/nursultannurulla/Desktop/Pulsproject/src/sass/block/_promo.sass */
.promo__link a {
  color: white;
}

/* line 1, ../../../../../../../../../../../../../Users/nursultannurulla/Desktop/Pulsproject/src/sass/block/_header.sass */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* line 5, ../../../../../../../../../../../../../Users/nursultannurulla/Desktop/Pulsproject/src/sass/block/_header.sass */
.header__logo {
  width: 250px;
}

/* line 7, ../../../../../../../../../../../../../Users/nursultannurulla/Desktop/Pulsproject/src/sass/block/_header.sass */
.header__logo img {
  width: 100%;
}

/* line 9, ../../../../../../../../../../../../../Users/nursultannurulla/Desktop/Pulsproject/src/sass/block/_header.sass */
.header__official {
  color: white;
  font-family: 'MuseoSansCyrl-500';
  font-size: 12px;
  font-weight: 500;
  text-align: center;
}

/* line 15, ../../../../../../../../../../../../../Users/nursultannurulla/Desktop/Pulsproject/src/sass/block/_header.sass */
.header__official span {
  font-size: 18px;
  display: block;
}

/* line 18, ../../../../../../../../../../../../../Users/nursultannurulla/Desktop/Pulsproject/src/sass/block/_header.sass */
.header__phone {
  font-family: 'MuseoSansCyrl-700';
  color: white;
  font-size: 18px;
  text-decoration: none;
  display: block;
}

/* line 24, ../../../../../../../../../../../../../Users/nursultannurulla/Desktop/Pulsproject/src/sass/block/_header.sass */
.header__contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/* line 1, ../../../../../../../../../../../../../Users/nursultannurulla/Desktop/Pulsproject/src/sass/block/_button.sass */
.button {
  width: 150px;
  height: 30px;
  border-radius: 5px;
  background-color: #c70101;
  border: none;
  color: white;
  font-family: 'MuseoSansCyrl-500';
  font-size: 12px;
  text-transform: uppercase;
}

/* line 11, ../../../../../../../../../../../../../Users/nursultannurulla/Desktop/Pulsproject/src/sass/block/_button.sass */
.button_main {
  width: 300px;
  height: 50px;
  font-size: 16px;
  margin-top: 68px;
}

/* line 16, ../../../../../../../../../../../../../Users/nursultannurulla/Desktop/Pulsproject/src/sass/block/_button.sass */
.button_submit {
  width: 100%;
  margin-top: 35px;
  height: 58px;
  font-size: 16px;
}

/* line 1, ../../../../../../../../../../../../../Users/nursultannurulla/Desktop/Pulsproject/src/sass/block/_advantages.sass */
.advantages {
  min-height: 475px;
  padding: 70px 0 76px 0;
  background: #f6f6f6;
}

/* line 5, ../../../../../../../../../../../../../Users/nursultannurulla/Desktop/Pulsproject/src/sass/block/_advantages.sass */
.advantages__header {
  text-align: center;
  color: #0d0d0d;
  font-family: 'MuseoSansCyrl-700';
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
}

/* line 12, ../../../../../../../../../../../../../Users/nursultannurulla/Desktop/Pulsproject/src/sass/block/_advantages.sass */
.advantages__wrapper {
  display: flex;
  justify-content: space-around;
  margin-top: 65px;
}

/* line 16, ../../../../../../../../../../../../../Users/nursultannurulla/Desktop/Pulsproject/src/sass/block/_advantages.sass */
.advantages__block {
  text-align: center;
  width: 275px;
}

/* line 19, ../../../../../../../../../../../../../Users/nursultannurulla/Desktop/Pulsproject/src/sass/block/_advantages.sass */
.advantages__subtitle {
  color: #0d0d0d;
  font-family: 'MuseoSansCyrl-700';
  font-size: 18px;
  font-weight: 700;
  line-height: 29px;
  margin-top: 30px;
}

/* line 26, ../../../../../../../../../../../../../Users/nursultannurulla/Desktop/Pulsproject/src/sass/block/_advantages.sass */
.advantages__text {
  margin-top: 20px;
  color: #0d0d0d;
  font-family: 'MuseoSansCyrl-300';
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
}

/* line 33, ../../../../../../../../../../../../../Users/nursultannurulla/Desktop/Pulsproject/src/sass/block/_advantages.sass */
.advantages__text a {
  font-family: 'MuseoSansCyrl-500';
  color: #FF0000;
}

/* line 1, ../../../../../../../../../../../../../Users/nursultannurulla/Desktop/Pulsproject/src/sass/block/_consultation.sass */
.consultation {
  padding: 100px 0 108px 0;
  min-height: 680px;
  background: url(../img/bg/second_bg.png) center center/cover no-repeat;
}

/* line 5, ../../../../../../../../../../../../../Users/nursultannurulla/Desktop/Pulsproject/src/sass/block/_consultation.sass */
.consultation__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* line 9, ../../../../../../../../../../../../../Users/nursultannurulla/Desktop/Pulsproject/src/sass/block/_consultation.sass */
.consultation__header {
  color: white;
  font-family: 'MuseoSansCyrl-700';
  font-size: 36px;
  font-weight: 700;
  line-height: 54px;
  text-transform: uppercase;
}

/* line 16, ../../../../../../../../../../../../../Users/nursultannurulla/Desktop/Pulsproject/src/sass/block/_consultation.sass */
.consultation__subheader {
  color: white;
  font-family: 'MuseoSansCyrl-300';
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}

/* line 1, ../../../../../../../../../../../../../Users/nursultannurulla/Desktop/Pulsproject/src/sass/block/_form.sass */
.feed-form {
  display: flex;
  flex-direction: column;
  margin-top: 36px;
}

/* line 5, ../../../../../../../../../../../../../Users/nursultannurulla/Desktop/Pulsproject/src/sass/block/_form.sass */
.feed-form__input {
  width: 303px;
  height: 54px;
  border-radius: 5px;
  border: none;
  margin-top: 15px;
  padding: 0 20px;
  color: #4b4b4b;
  font-family: 'MuseoSansCyrl-300';
  font-size: 14px;
}

@media (max-width: 991px) {
  /* line 5, ../../../../../../../../../../../../../Users/nursultannurulla/Desktop/Pulsproject/src/sass/base/_media.sass */
  .promo__wrapper {
    padding: 0 20px 0 0;
  }
  /* line 7, ../../../../../../../../../../../../../Users/nursultannurulla/Desktop/Pulsproject/src/sass/base/_media.sass */
  .header {
    padding: 0 20px 0 20px;
  }
  /* line 9, ../../../../../../../../../../../../../Users/nursultannurulla/Desktop/Pulsproject/src/sass/base/_media.sass */
  .header__phone {
    font-size: 16px;
  }
  /* line 12, ../../../../../../../../../../../../../Users/nursultannurulla/Desktop/Pulsproject/src/sass/base/_media.sass */
  .consultation__wrapper {
    padding: 0 0 0 20px;
  }
}

@media (max-width: 575px) {
  /* line 18, ../../../../../../../../../../../../../Users/nursultannurulla/Desktop/Pulsproject/src/sass/base/_media.sass */
  .advantages__wrapper {
    flex-direction: column;
    align-items: center;
  }
  /* line 21, ../../../../../../../../../../../../../Users/nursultannurulla/Desktop/Pulsproject/src/sass/base/_media.sass */
  .header {
    flex-direction: column;
  }
  /* line 23, ../../../../../../../../../../../../../Users/nursultannurulla/Desktop/Pulsproject/src/sass/base/_media.sass */
  .header__official {
    display: none;
  }
  /* line 25, ../../../../../../../../../../../../../Users/nursultannurulla/Desktop/Pulsproject/src/sass/base/_media.sass */
  .header__contacts {
    margin-top: 30px;
    align-items: center;
  }
  /* line 28, ../../../../../../../../../../../../../Users/nursultannurulla/Desktop/Pulsproject/src/sass/base/_media.sass */
  .button {
    width: 220px;
    height: 50px;
  }
  /* line 32, ../../../../../../../../../../../../../Users/nursultannurulla/Desktop/Pulsproject/src/sass/base/_media.sass */
  .promo__wrapper {
    align-items: center;
    padding: 0;
  }
  /* line 35, ../../../../../../../../../../../../../Users/nursultannurulla/Desktop/Pulsproject/src/sass/base/_media.sass */
  .promo__icons {
    width: 310px;
    flex-direction: column;
    align-items: center;
  }
  /* line 39, ../../../../../../../../../../../../../Users/nursultannurulla/Desktop/Pulsproject/src/sass/base/_media.sass */
  .promo__icon {
    margin-top: 20px;
  }
  /* line 41, ../../../../../../../../../../../../../Users/nursultannurulla/Desktop/Pulsproject/src/sass/base/_media.sass */
  .promo__header {
    font-size: 35px;
    line-height: 45px;
    text-align: center;
  }
  /* line 45, ../../../../../../../../../../../../../Users/nursultannurulla/Desktop/Pulsproject/src/sass/base/_media.sass */
  .promo__subheader {
    font-size: 20px;
    text-align: center;
  }
  /* line 49, ../../../../../../../../../../../../../Users/nursultannurulla/Desktop/Pulsproject/src/sass/base/_media.sass */
  .consultation__header {
    text-align: center;
    font-size: 33px;
  }
  /* line 52, ../../../../../../../../../../../../../Users/nursultannurulla/Desktop/Pulsproject/src/sass/base/_media.sass */
  .consultation__subheader {
    text-align: center;
  }
  /* line 54, ../../../../../../../../../../../../../Users/nursultannurulla/Desktop/Pulsproject/src/sass/base/_media.sass */
  .consultation__wrapper {
    align-items: center;
  }
  /* line 57, ../../../../../../../../../../../../../Users/nursultannurulla/Desktop/Pulsproject/src/sass/base/_media.sass */
  .button_submit {
    width: 280px;
  }
  /* line 60, ../../../../../../../../../../../../../Users/nursultannurulla/Desktop/Pulsproject/src/sass/base/_media.sass */
  .feed-form__input {
    width: 280px;
  }
}

/* line 9, ../../../../../../../../../../../../../Users/nursultannurulla/Desktop/Pulsproject/src/sass/style.sass */
.container {
  max-width: 950px;
  margin: 0 auto;
}

/*# sourceMappingURL=style.css.map */